# Application environment
APP_ENV

# Kafka broker connection
KAFKA_BROKER_URL

# Schema Registry URL for Kafka schemas
SCHEMA_REGISTRY_URL

#CAN network type
CAN_NETWORK
#CAN interface address
CAN_NETWORK_ADDRESS

# Serial port for data consuming
SERIAL_PORT